.stopIcon {
  animation: zoomStopIcon 0.4s infinite alternate;
}

.statusAnimation {
  animation: statusBox 0.8s linear infinite alternate;
}
@keyframes statusBox {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.11;
  }
}
.chatHumanzujian {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  //padding-right: 28px;
  margin-top: 6px;
  //margin-top: 5px;
}
.chatAizujian {
  display: flex;
  width: 100%;
  //margin-left: 28px;
  justify-content: flex-end;
  margin-top: 6px;
}

.chatIntro {
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  box-sizing: border-box;
  position: relative;
  .introTitle {
    width: auto;
    display: inline-block;
    position: absolute;
    top: calc(50% - (145px) / 2);
    left: 50%;
    margin-top: -52px;
    margin-left: -114px;
    text-align: center;
    .logo {
      width: 50px;
      margin: 0px auto;
      margin-bottom: 30px;

    }
    .descr {
      color: var(--color-text-1);
      font-size: 18px;
      font-weight: 600;
      line-height: 1;

    }
  }
  .list {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 0px);
    .inlist {
      width: 660px;
      display: flex;
      flex-wrap: wrap;
      .item {
        width: 325px;
        //width: calc((100% - 10px) / 2);
        margin-right: 10px;
        background: #F9FBFD;
        border-radius: 12px;
        border: 1px solid #E3E9EF;
        padding: 8px 14px;
        flex-shrink: 0;
        box-sizing: border-box;
        cursor: pointer;
        transition: all .2s;
        &:hover {
          box-shadow: 0px 8px 20px 0px rgba(36, 46, 67, 0.1);
          .title {
            color: #3261CE;
          }
          .descr {
            color:#739CE2;
          }
        }

        &:nth-child(2n) {
          margin-right: 0px;
        }
        &:nth-child(1),
        &:nth-child(2){
          margin-bottom: 12px;
        }
        .title {
          font-size: 16px;
          font-weight: 600;
          color: var(--color-text-2);
          margin-bottom: 4px;
          transition: all .2s;
        }
        .descr {
          color: var(--color-text-3);
          transition: all .2s;
        }
      }
    }

  }

}
.sarderbarlist {
  width: 100%;
  padding: 0 20px;
  .sarderbarlistitem {
    display: flex;
    height: 36px;
    border-radius: 0.75rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    &:hover {
      background-color: #DEE0E2;
    }
  }

}
.sarderbartitle {
  border-top: 1px solid #E2E8F0;
  display: flex;
  justify-content: space-between;
  color: #79879c;
  padding: 0px 30px;
  line-height: 40px;
  background: transparent;
}
